
.bordering{
    
    /* border:solid white; */
    margin: auto 5rem;
    margin-top: 4rem;
    position: absolute;
    width: 80%;
}


label{

    margin-left: 30%   ;
    color: white;
}

input{
    margin: 0.21rem auto;
    margin-left:1rem ;
    font-size: x-large;
}

button{
    height: 2rem;
    margin-top: 1rem;
}

form{
    /* margin: auto; */
    /* border: solid white; */
    width: 70%;
    font-size: x-large;
}
form button{
    width: 14rem;
}
